---
import Layout from '../../layouts/Page.astro';
import BlogPostPreview from '../../components/BlogPostPreview.astro';
import Paginator from '../../components/Paginator.astro';
import { getCollection } from 'astro:content';
import PostExcerpt from '@igor.dvlpr/astro-post-excerpt';  
  
export async function getStaticPaths({paginate}) {

    const posts = await getCollection('blog').then(posts =>
	posts
		.map(({ data, slug }) => ({
            slug: slug,
			title: data.title,
			description: data.description,
			pubDate: data.pubDate,
            postPreview: data.postPreview,
            // imgSrc: data.image.src,
            // imgAlt: data.image.alt,
		}))
);
return paginate(posts, {pageSize: 10});


}

const seo = {
  title: 'Blog',
  description: 'Blog posts, essays, diaries, news and tutorials by tjex (Tillman Jex)'
}

const { page } = Astro.props;
---


<Layout seo={seo} >
    <article class="blog-page-content__article">
      <section class="postlist">
        <p class="post-excerpt">
        {page.data.map((post: any) => <PostExcerpt post={post} words={20} addEllipsis={false} />)}
        </p>
      </section>
    </article>
    <Paginator page={page}/>
</Layout>
