---
// Lists pages with tag x
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Page.astro";
import BlogPostPreview from "../../components/BlogPostPreview.astro";
import HackPreview from "../../components/HackPreview.astro";
import * as colUtil from "../../scripts/collectionUtil.ts";

export const getStaticPaths: GetStaticPaths = async () => {
    const paths = await colUtil.getPostsPerTag(["blog", "hacks"]);
    return paths;
};

const { tag } = Astro.params;
const { posts } = Astro.props;

const seoTitle = tag;
const seo = {
    title: seoTitle,
    description: `All posts tagged with ${seoTitle} on tjex.net`,
};
---

<Layout seo={seo}>
    <h1>{tag}</h1>
    <p>Posts tagged: <span class="bubble">{tag}</span></p>
    <article class="blog-page-content__article">
        <section class="postlist">
            {
                posts.map((post: any) =>
                    post.collection === "blog" ? (
                        <BlogPostPreview post={post} />
                    ) : post.collection === "hacks" ? (
                        <HackPreview post={post} />
                    ) : null,
                )
            }
        </section>
    </article>
</Layout>
