---
// Lists pages with tag x
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Page.astro";
import PostList from "../../components/PostList.astro";
import * as colUtil from "../../scripts/collectionUtil.ts";

export const getStaticPaths: GetStaticPaths = async () => {
    const paths = await colUtil.getPostsPerTag(["posts"]);
    return paths;
};

const { tag } = Astro.params;
const { posts } = Astro.props;

const seoTitle = tag;
const seo = {
    title: seoTitle,
    description: `All posts tagged with ${seoTitle} on tjex.net`,
};
---

<Layout seo={seo}>
    <h1>{tag}</h1>
    <p>Posts tagged: <span class="pill">{tag}</span></p>
    <article class="blog-page-content__article">
        <table>
            {posts.map((post: any) => <PostList post={post} collection={post.collection} />)}
        </table>
    </article>
</Layout>
