---
import Layout from "../layouts/Page.astro";
import MediaLink from "../components/MediaLink.astro";
import music from "../data/music.json";

const seo = {
    title: "Listening List",
    description: "External link archive of music I'm listening to",
};
---

<Layout seo={seo}>
    <h1>Listening List</h1>
    <p>
        Some of what I listen to makes it here. If you like the general flavours of the below list, you can find more on
        my <a href="https://bandcamp.com/tillman-jex">bandcamp fan page</a>. Just as in open source, if you find that an
        artist provides value to you, consider supporting their work by buying their music from Bandcamp. The artist
        gets the
        <a href="https://get.bandcamp.help/hc/en-us/articles/1500006084082-What-are-Bandcamp-s-fees">lion's share.</a>
    </p>

    {
        music.map((e, i) => {
        if (i % 2 === 0 )
                return (
                <div class=grid>
                    <MediaLink src={e.src} artist={e.artist} work={e.work} vocals={e.vocals} character={e.character} />
                    <MediaLink src={music[i+1].src} artist={music[i+1].artist} work={music[i+1].work} vocals={music[i+1].vocals} character={music[i+1].character} />
                </div>
                );
                })
    }
</Layout>
