---
// uncomenting for the moment, so I can remember how to use it down the track...
import { Image } from "astro:assets"; 

export interface Props {
  post: any;
}

const { post } = Astro.props;

---

<Image src={post.cover} alt={post.coverAlt} />
<article class="post-preview">
  <a href={`/blog/${post.slug}`}>
    <h1 class="title">{post.title}</h1>
    <!--<Image src={post.cover} alt={post.coverAlt} />-->
    <!--<time class="pub-date">{post.pubDate}</time>-->
    <p class="teaser">{post.description}</p>
  </a>
</article>

<style>
  a {
    text-decoration: none;
  }

  a:hover > .title {
    text-decoration: underline;
  }

  .post-main__img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 1rem;
  }

  .title,
  .author,
  .publish-date {
    margin: 0;
  }

  .pub-date,
  .author {
    font-size: 0.8rem;
    color: var(--secondary);
  }

  .title {
    font-size: 1rem;
    font-weight: 700;
    color: var(--theme-text);
  }

  .teaser {
    color: var(--secondary);
  }
</style>
