---
import "../styles/snippets/contentPreview.css";
const { src, artist, work, source, genre } = Astro.props;
---

<div class=`content-preview filter ${genre} ${source}`>
  <a href={`${src}`}> {artist}</a>
  <br />
  <span class="secondary" style="font-style: italic;">&#10149; {work}</span>
</div>
