---
import "../styles/snippets/contentPreview.css";
const { src, artist, work, source, character, vocals } = Astro.props;
---


<div class=`content-preview filter ${character} ${source}`>
  <a href={`${src}`}> {artist} - {work}</a>
  <br />
  <span class="secondary" style="font-style: italic;">&#10149; {character}</span><br />
</div>
