---
const { nextPost, prevPost, collection } = Astro.props;
---

<hr />
{
    (
        <div class="neighbourPost">
            {prevPost.data && (
            <a class="prevPost" href={`/${collection}/${prevPost.slug}`}>
                    {prevPost.data.title}
                </a>
            )}
            {nextPost.data && (
            <a class="nextPost" href={`/${collection}/${nextPost.slug}`}>
                    {nextPost.data.title}
                </a>
            )}
        </div>
    )
}
