---
const { nextPost, prevPost, collection } = Astro.props;
---


{
    collection === "blog" ? (
        <nav class="neighbourPost">
            {prevPost.data && <span class="nextPost"><a href={`/blog/${prevPost.slug}`}>{prevPost.data.title}</a></span>}
            {nextPost.data && <span class="prevPost"><a href={`/blog/${nextPost.slug}`}>{nextPost.data.title}</a></span>}
        </nav>
    ) : collection === "hacks" ? (
        <nav class="neighbourPost">
            {prevPost.data && <span class="nextPost"><a href={`/hacks/${prevPost.slug}`}>{prevPost.data.title}</a> </span>}
            {nextPost.data && <span class="prevPost"><a href={`/hacks/${nextPost.slug}`}>{nextPost.data.title}</a> </span>}
        </nav>

    ) : null 
}
