---
import ArticleSchema from '../components/ArticleSchema.astro';

import Layout from './Base.astro';
import SideLeftPage from '../components/SideLeftPage.astro';
import SideRightBlank from '../components/SideRightBlank.astro';
import Header from '../components/Header.astro';
import Tags from "../components/Tags.astro";

const { frontmatter } = Astro.props;
---

<Layout seo={frontmatter}>
  <Fragment slot="head-bottom">
  <ArticleSchema {...frontmatter}  />
 </Fragment>
 <Header slot="header" />
 <SideLeftPage slot="side-left"/>
    <article class="post-content__article">
      {frontmatter.image && <img width="720" height="420" class="post-main__img" loading="lazy" src={frontmatter.image} alt={frontmatter.alt} />}
      <h1>{frontmatter.title}</h1>
      <div class="post-info">
      <Tags tags={frontmatter.tags} /><time>{frontmatter.publishDate}</time>
      </div>
      <slot />
    </article>
  <SideRightBlank slot="side-right" />
</Layout>

