---
import ArticleSchema from "../components/ArticleSchema.astro";
import Date from "../components/utility/DateFormat.astro";
import path from "node:path";

import Layout from "./Base.astro";
import SideLeftPage from "../components/SideLeftPage.astro";
import SideRightBlank from "../components/SideRightBlank.astro";
import HeaderCenter from "../components/HeaderCenter.astro";
import HeaderLeft from "../components/HeaderLeft.astro";
import HeaderRight from "../components/HeaderRight.astro";
import Tags from "../components/Tags.astro";
import Footer from "../components/Footer.astro";

const { seo } = Astro.props;
const { post } = Astro.props;

// cobble together a valid url for GitHub
const filename = path.basename(post.id);
const postGithubUrl = new URL("https://github.com/tjex/tjex.github.io/blob/main/src/content/blog/" + filename);
---

<script src="../scripts/emailDecode.js"></script>

<Layout {seo}>
    <Fragment slot="head-bottom">
        <ArticleSchema {post} />
    </Fragment>
    <HeaderLeft slot="header-left" />
    <HeaderCenter slot="header-center" />
    <HeaderRight slot="header-left" />
    <SideLeftPage slot="side-left" />
    <article class="post-content__article">
        <h1>{post.data.title}</h1>
        <p class="post-info">
            <span style="font-family: monospace"><Date date={post.data.arvDate} format={"arvelie"} /></span><br />
            <Tags tags={post.data.tags} style={"text"} /><br />
        </p>

        <slot />
    </article>
    <SideRightBlank slot="side-right" />
    <Footer slot="footer" />
</Layout>
