---
import ArticleSchema from "../components/ArticleSchema.astro";
import Date from "../components/utility/DateFormat.astro";
import path from 'node:path';

import Layout from "./Base.astro";
import SideLeftPage from "../components/SideLeftPage.astro";
import SideRightBlank from "../components/SideRightBlank.astro";
import Header from "../components/Header.astro";
import Tags from "../components/Tags.astro";
import Footer from "../components/Footer.astro";
import License from "../components/License.astro";

const { seo } = Astro.props;
const { post } = Astro.props;

const ext = path.extname(post.id)
const postGithubUrl = 'https://github.com/tjex/tjex.github.io/commits/main/src/content' + Astro.url.pathname + ext
---

<script src="../scripts/emailDecode.js"></script>

<Layout {seo}>
    <Fragment slot="head-bottom">
        <ArticleSchema {post} />
    </Fragment>
    <Header slot="header" />
    <SideLeftPage slot="side-left" />
    <article class="post-content__article">

        <h1>{post.data.title}</h1>
        <div class="post-info">
            <span>Tillman Jex, </span> 
            <Date date={post.data.pubDate} />
            {
                post.data.modDate ? (
                <span> - </span><a rel="me" href=`${postGithubUrl}`> view edit history </a> ) : null
            } <br>
            <span>Tagged:</span>
            <Tags tags={post.data.tags} /><br />
            <!-- for posts that refer to computer programs used -->
            {
                post.data.progVersions ? (
                    <>
                        <span>Versions used:</span>

                        {post.data.progVersions.map((v: any) => (
                            <span class="tag">{v}</span>
                        ))}
                    </>
                ) : null
            }
        </div>

        <slot />
    </article>
    <SideRightBlank slot="side-right" />
    {post.data.license && <License license={post.data.license} />}
    <Footer slot="footer" />
</Layout>
